* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  //border: 1px solid red;
}

body {
  font-family: Ubuntu, "Noto Sans", serif;
  line-height: 1.5rem;
  min-height: 90vh;
  overflow: auto;
  width: 100%;
  padding-top: 40px;
}

button {
  cursor: pointer;
}
